/* Write your CSS here */

.maincontainer {
  height: 100vh;
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  flex-direction: column;
}
.profilecontainer {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  padding: 10px;
  background-size: cover;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25%;
}
.name {
  font-size: 20px;
}
.greet {
  font-size: 15px;
}
.span {
  font-size: 15px;
  color: #0b69ff;
}

.bottomcontainer {
  display: flex;
  height: 50%;
  justify-content: space-between;
}
.inputscontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;
  width: 40%;
  border: 1px solid #d7dfe9;
  border-radius: 10px;
}
.heading {
  font-size: 20px;
}

.title {
  font-size: 15px;
  margin-bottom: 5px;
  color: #7e858e;
}
.inputcontainer {
  padding: 10px;
  font-size: 15px;
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid #d7dfe9;
}
.type {
  padding: 7px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.button {
  background-color: #0b69ff;
  font-size: 10px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  width: 50px;
  color: #ffffff;
  border-radius: 5px;
  border: 0px;
}

.transactioncont {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding: 20px;
  width: 50%;
  border: 1px solid #d7dfe9;
  border-radius: 10px;
}
.history {
  font-size: 20px;
}

.lists {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0px;
  overflow: auto;
}
.contentlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
  border: 1px solid #d7dfe9;
  width: 100%;
  padding-top: 0px;
}

.historydetails {
  width: 28%;
  font-weight: bold;
}
