/* Write your CSS here */

.statuscontainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 40px;
}
.textcontent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.eaccon1 {
  display: flex;

  align-items: center;
  background-color: #ecfccb;
  width: 30%;
  height: 100px;
  border-radius: 10px;
}
.eaccon2 {
  width: 30%;
  height: 100px;
  border-radius: 10px;
  display: flex;

  align-items: center;
  background-color: #cffafe;
}

.eaccon3 {
  width: 30%;
  height: 100px;
  border-radius: 10px;
  display: flex;

  align-items: center;
  background-color: #ede9fe;
}
.imagecon1 {
  background-color: #84cc16;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.imagecon2 {
  background-color: #06b6d4;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.imagecon3 {
  background-color: #06b6d4;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.balancecon {
  margin-left: 10px;
}
.balanceimage {
  width: 20px;
  height: 20px;
}
.balance {
  font-size: 15px;
}
.amount {
  font-size: 20px;
}
